@{
    ViewData["Title"] = "Home Page";
}

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Welcome to Simply iPhones. <span class="text-muted">Find your next phone.</span></h2>
        <p class="lead">
            We Specilize in the lastest unlocked iPhones, with no contracts keeping you tied to a newtwork
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="images\iPhone13Starlight.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500" xmlns="http://www.w3.org/2000/svg" role="img"
             preserveAspectRatio="xMidYMid slice" focusable="false"><img>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">In a rush?</span></h2>
        <p class="lead">Our Delivery's run 7 days a week on fixed time slots in the UK using our selcted couriers</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="images\iPhone11ProGold.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500" xmlns="http://www.w3.org/2000/svg" role="img"
             preserveAspectRatio="xMidYMid slice" focusable="false"><img>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">And lastly. <span class="text-muted">Price match?</span></h2>
        <p class="lead">And yes, we do price match on all our products, so if you find it cheaper please let us know and we can sort it for you </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="images\iPhone13Red.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500" xmlns="http://www.w3.org/2000/svg" role="img"
             preserveAspectRatio="xMidYMid slice" focusable="false"><img>
    </div>
</div>
<div class="text-center" >
    <a asp-area="" asp-controller="Explore" asp-action="Index" class="btn btn-outline-info" >Explore Phones</a>
</div>

<hr class="featurette-divider">
